{{#if flashMessages}}
  {{#each flashMessages}}
    <div class="alert alert-{{this.type}}" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{{this.message}}}
    </div>
  {{/each}}
{{/if}}
