<div class="row">
  <div class="col-xs-12">
    {{> flashMessenger }}
  </div>
</div>

<div class="row">
  <form class="col-xs-12 form-horizontal" name="createForm" action="/" method="POST" enctype="multipart/form-data">
    <div class="panel panel-primary">
      <div class="panel-heading">Create a Christos faceswap</div>

      <div class="panel-body">
        <div class="form-group">
          <label class="control-label col-xs-3" for="image">Image with faces to swap &ast;</label>
          <div class="col-xs-9">
            <input class="form-control" name="image" type="file" required="required" />
          </div>
        </div>
      </div>

      <div class="panel-footer">
        <div class="row row-no-padding">
          <div class="col-xs-12">
            <button class="btn btn-success pull-right" type="submit">Create</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
